html,button,input,select,textarea{color:#222}
body{font:1em/1.4 "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;color:#fff}
a{color:#b4c3d1;font-weight:400;font-style:normal;text-decoration:none}
a:visited{color:#b4c3d1;text-decoration:underline}
a:hover{color:#b4c3d1}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical;width:100%;height:100%;margin:0}
html,body{width:100%;height:100%;margin:0;background:#000;color:#FFF}
header{top:0;width:100%;background:#000;z-index:3000;min-height:30px}
body h3{float:right;margin-right:10px}
.logo{position:relative;left:10px;top:10px;margin-right:20px}
.my_map{position:relative;width:100%;height:100%;overflow:hidden}
.chkpnt{color:#fff;border:0 solid #000;width:auto;line-height:10px;height:auto;text-align:center;padding:8px;border-radius:3px;box-shadow:0 0 5px #000;font-weight:700;font-size:1em;background:rgba(0,83,255,.81)}
.miles{color:#fff;border:0 solid #000;width:auto;line-height:10px;height:auto;text-align:center;padding:4px;border-radius:3px;box-shadow:0 0 5px #000;font-weight:700;font-size:1em;background:rgba(0,105,43,.71)}
.infobox{color: #ffffff;background: #ce0000;border: 2px solid #920000;width:60px;line-height:14px;height:auto;text-align:center;padding:5px;border-radius:3px;font-weight:700-moz-box-shadow: 0 0 5px #927c7c;
	box-shadow: 1px 1px 3px #000000;
	-moz-box-shadow: 1px 1px 3px #000000;
	opacity: 0.85;
}
.infobox:after{content:" ";height:0;position:absolute;width:0;border:8px solid transparent;border-top-color:#920000;top:100%;left:40%}
.mapctr{font:12px "Arial",Arial,sans-serif;color:#000;padding:4px;font-size:1em}
.mapdivctr{border:solid;border-width:1px;cursor:pointer;background:#fff}
.nocallout{-webkit-touch-callout:none}
.pressed{background:rgba(0,0,0,.7)}
textarea[contenteditable]{-webkit-appearance:none}
.gifhidden{position:absolute;left:-100%}
.ir{border:0;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;background:no-repeat}
.ir br{display:none}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
header{height:30px}
header h3{font-size:.6em}
.logo{margin-left:5px;top:0}
}
@media screen and (max-width: 800px) {
header{height:30px}
header h3{font-size:.6em}
.logo{width:20%;margin-left:5px;top:3px}
}